h2 {
  color: red;
}

@media screen and (max-width: 568px) {
  body {
    background-image: url(../../src/clouds_mobile.png);
  }
}
@media screen and (min-width: 568px) {
  .main {
    background-image: url(../../src/thumb.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 765px;
  }
}
